<div id="pets-orders" class="card">
    <div class="card-body top-menu">
        <div class="justify-content-center form-row">
            <div class="form-group input-group col-6">
                <h4 class="card-title">Productos Actuales</h4>
            </div>
            <div class="form-group text-center input-group col-6">
                <button (click)="addNewProduct(true, null)" class="btn btn-info"><i class="fas fa-plus"></i> Añadir Producto</button>
            </div>

            <div class="form-group input-group col-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" type="text" name="search" [(ngModel)]="query2" autocomplete="off" placeholder="Buscar Producto">
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-hover verticle-middle table-responsive-lg mb-0">
                <thead class="text-center thead-dark">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Tamaño</th>
                        <th scope="col">Color</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Costo</th>
                        <th scope="col">1era Foto</th>
                        <th scope="col">2da Foto</th>
                        <th scope="col">Visualizar</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of filterProductData(query2)" class="text-center">
                    <tr>
                        <td>{{item.productName}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.color}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.cost | currency:"₡"}}</td>
                        <td><button (click)="checkFoto(item,1)" class="btn btn-info btn-sm"> <i class="fas fa-camera"></i> 1.ª <span *ngIf="!Media.IsMobile"></span></button></td>
                        <td><button (click)="checkFoto(item,2)" class="btn btn-info btn-sm"> <i class="fas fa-camera"></i> 2.ª <span *ngIf="!Media.IsMobile"></span></button></td>
                        <td><button [disabled]="!item.firstPhoto || !item.secondPhoto" (click)="seeFoto(item)" class="btn btn-success btn-sm"> <i class="fas fa-eye"></i> Ver</button></td>
                        <td>
                            <span class="d-flex">
                                <a class="mr-4" data-toggle="tooltip" (click)="addNewProduct(false, item)" data-placement="top" title="Edit" data-original-title="Edit"><i class="fas fa-pencil-alt color-muted"></i> </a>
                                <a data-toggle="tooltip" data-placement="top" title="Close" data-original-title="Close"><i class="fas fa-times color-danger"></i></a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="addNewProductModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark text-white">
              <h5 *ngIf="isNewProduct" class="modal-title" id="addNewProductModal">Crear nuevo producto</h5>
              <h5 *ngIf="!isNewProduct" class="modal-title" id="addNewProductModal">Editar producto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form mt-3" [formGroup]="newProductPetForm" (ngSubmit)="sendNewProduct(isNewProduct)" >
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre del Producto</label>
                    <input type="text" formControlName="productName" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                    <div *ngIf="submitted && f.productName.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.productName.errors }">
                        <div *ngIf="f.productName.errors.required">Nuevo titulo es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tamaño</label>
                    <input type="text" formControlName="size" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.size.errors }" />
                    <div *ngIf="submitted && f.size.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.size.errors }">
                        <div *ngIf="f.size.errors.required">Nuevo titulo es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Color</label>
                    <input type="text" formControlName="color" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.color.errors }" />
                    <div *ngIf="submitted && f.color.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.color.errors }">
                        <div *ngIf="f.color.errors.required">Nuevo titulo es requerido</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Costo</label>
                    <input type="text" formControlName="cost" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.cost.errors }" />
                    <div *ngIf="submitted && f.cost.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.cost.errors }">
                        <div *ngIf="f.cost.errors.required">Nuevo titulo es requerido</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripcion</label>
                    <textarea class="form-control" formControlName="description" placeholder="Agregue una descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                        <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Cantidad disponible</label>
                    <input type="number" formControlName="quantity" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" />
                    <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.quantity.errors }">
                        <div *ngIf="f.quantity.errors.required">Descripcion es requerido</div>
                    </div>
                </div>
                  <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                    <button *ngIf="isNewProduct" type="submit" class="btn btn-primary float-right">
                      <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                      <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                        </svg>
                      Crear Nuevo Producto
                    </button>
                    <button *ngIf="!isNewProduct" type="submit" class="btn btn-primary float-right">
                        <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                        <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                            <circle class="loader__value" cx="12" cy="12" r="10" />
                          </svg>
                        Actualizar Producto
                      </button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="addNewFistorSecondPhotoModal" tabindex="-1" role="dialog" aria-labelledby="addNewFistorSecondPhotoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark text-white">
              <h5 *ngIf="isfirstPhoto" class="modal-title">Agregar primera foto</h5>
              <h5 *ngIf="!isfirstPhoto" class="modal-title">Agregar segunda foto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <form (ngSubmit)="sendPhotoSubmit()">
                <img class="mb-1 text-center" *ngIf="linkPhoto" style="height: 200px;" src="{{linkPhoto}}" alt="{{linkPhoto}}" srcset="{{linkPhoto}}"> 
                <div *ngIf="isfirstPhoto" class="form-group mb-1 text-center">
                    <label class="font-weight-bold">Foto:</label>
                    <input #photoinput type="file" name="image" accept="image/*" class="d-none"
                      (change)="processFile($event)">
                    <img [src]="photoSelected || '../../../assets/upload.png'" alt="" style="height: 66px;" class="img-fluid" (click)="photoinput.click()" srcset="">
                </div>
                
                <div *ngIf="!isfirstPhoto" class="form-group mb-1 text-center">
                    <label class="font-weight-bold">Segunda Foto:</label>
                    <input #photoinputSecond type="file" name="image" accept="image/*" class="d-none"
                      (change)="processFileSecond($event)">
                    <img [src]="photoSelectedSecond || '../../../assets/upload.png'" alt="" style="height: 66px;" class="img-fluid" (click)="photoinputSecond.click()" srcset="">
                </div>
                
                  <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary float-right">
                      <i *ngIf="!loading" class="fas fa-edit"></i>
                      <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                          <circle class="loader__value" cx="12" cy="12" r="10" />
                        </svg>
                      Actualizar
                    </button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    
    
    
      <div class="modal fade" id="visualization" tabindex="-1" role="dialog" aria-labelledby="visualization" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title">Visualizar foto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a >
                            <img class="pic-1" src="{{linkFirst}}">
                            <img class="pic-2" src="{{linkSecond}}">
                        </a>
                        <ul class="social">
                            <li><a  data-tip="Vista Rápida"><i class="fa fa-eye"></i></a></li>
                            <li><a  data-tip="Añadir a Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a  data-tip="Añadir al Carrito"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <a class="add-to-cart">Añadir al Carrito</a>
                    </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
</div>