<div class="row no-gutters mb-3 mt-2">
  <div class="col-4 text-center">
    <h5 >Mi calendario</h5>
  </div>
  <!-- <div class="col-3">
    <button *ngIf="!showtoken" (click)="showPopupGoogle()" class="btn btn-social-icon btn-google" >Iniciar sesion con <span class="fab fa-google"></span></button>
  </div> -->
  <div class="col-2">
    <!-- <button *ngIf="showtoken" (click)="showEventGoogle()" class="btn btn-primary">Crear evento</button> -->
    <button *ngIf="!showtoken" (click)="showEvent()" class="btn btn-primary">Crear evento</button>
  </div>
  <!-- <div class="col-2 text-right">
    <button *ngIf="showtoken" (click)="closeSesion()" class="btn btn-danger" >Cerrar sesion </button>
  </div> -->

</div>
<div *ngIf="calendarOptions" >
  
    <full-calendar #alert  (eventDragStop)="eventDragStop($event)" [options]="calendarOptions"></full-calendar>
</div>

<div class="modal fade" id="newGoogleCalendarEventModal" tabindex="-1" role="dialog" aria-labelledby="newGoogleCalendarEventModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 *ngIf="isNewGoogleEvent" class="modal-title" id="newGoogleCalendarEventModal">Crear Nuevo Evento Google</h5>
          <h5 *ngIf="!isNewGoogleEvent" class="modal-title" id="newGoogleCalendarEventModal">Editar Evento Google</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="isNewGoogleEvent" [formGroup]="newEventForm" (ngSubmit)="sendEventGoogle()">
          <div class="form-group input-group col-12">
              <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Nombre del evento  </span>
              <input type="text" formControlName="title" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                  <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
              </div>
          </div>

          <div class="form-group input-group col-12">
              <span class="mr-3"><i class="fa fa-envelope"></i> Fecha de inicio </span>
              <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                  <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
              </div>
          </div>

          <div class="form-group input-group col-12">
              <span class="mr-3"><i class="fa fa-envelope"></i> Fecha Final </span>
              <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
              <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                  <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
              </div>
          </div>
          
          <div class="form-group input-group col-12">
              <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Descripción del evento  </span>
              <textarea class="form-control" formControlName="description" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                  <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
              </div>
          </div>
          <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary float-right">
                <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                  </svg>
                Agregar
              </button>
            </div>
        </form>

        <form *ngIf="!isNewGoogleEvent" [formGroup]="newEventForm" (ngSubmit)="sendEditEventGoogle()">
          <div class="form-group input-group col-12">
              <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Nombre del evento  </span>
              <input type="text" formControlName="title" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                  <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
              </div>
          </div>

          <div class="form-group input-group col-12">
              <span class="mr-3"><i class="fa fa-envelope"></i> Fecha de inicio </span>
              <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                  <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
              </div>
          </div>

          <div class="form-group input-group col-12">
              <span class="mr-3"><i class="fa fa-envelope"></i> Fecha Final </span>
              <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
              <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                  <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
              </div>
          </div>
          
          <div class="form-group input-group col-12">
              <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Descripción del evento  </span>
              <textarea class="form-control" formControlName="description" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                  <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
              </div>
          </div>
          <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="deleteGoogleEvent()" class="btn btn-danger mr-auto" data-dismiss="modal">Eliminar Evento</button>
              <button type="submit" class="btn btn-primary float-right">
                <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                  </svg>
                Actualizar
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newCalendarEventModal" tabindex="-1" role="dialog" aria-labelledby="newCalendarEventModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 *ngIf="isNewEvent" class="modal-title" id="newCalendarEventModal">Nuevo Evento</h5>
          <h5 *ngIf="!isNewEvent" class="modal-title" id="newCalendarEventModal">Editar Evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="isNewEvent" [formGroup]="newEventForm" (ngSubmit)="newEventCalendarSubmit()">
            <div class="form-group input-group col-12">
                <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Nombre del evento  </span>
                <input type="text" formControlName="title" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                    <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
                </div>
            </div>

            <div class="form-group input-group col-12">
                <span class="mr-3"><i class="fa fa-envelope"></i> Fecha de inicio </span>
                <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                    <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
                </div>
            </div>

            <div class="form-group input-group col-12">
                <span class="mr-3"><i class="fa fa-envelope"></i> Fecha Final </span>
                <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
                <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                    <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
                </div>
            </div>
            
            <div class="form-group input-group col-12">
                <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Descripción del evento  </span>
                <textarea class="form-control" formControlName="description" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                    <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-plus-circle"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Agregar
                </button>
              </div>
          </form>




          <form *ngIf="!isNewEvent" [formGroup]="newEventForm" (ngSubmit)="updateEventCalendarSubmit()">
            <div class="form-group input-group col-12">
                <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Nombre del evento  </span>
                <input type="text" formControlName="title" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.title.errors }">
                    <div *ngIf="f.title.errors.required">Nuevo titulo es requerido</div>
                </div>
            </div>

            <div class="form-group input-group col-12">
                <span class="mr-3"><i class="fa fa-envelope"></i> Fecha de inicio </span>
                <input type="date" formControlName="date" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                <div *ngIf="submitted && f.date.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.date.errors }">
                    <div *ngIf="f.date.errors.required">Fecha de Inicio es requerido</div>
                </div>
            </div>

            <div class="form-group input-group col-12">
                <span class="mr-3"><i class="fa fa-envelope"></i> Fecha Final </span>
                <input type="date" formControlName="enddate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" />
                <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.enddate.errors }">
                    <div *ngIf="f.enddate.errors.required">Fecha de Final es requerido</div>
                </div>
            </div>
            
            <div class="form-group input-group col-12">
                <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Descripción del evento  </span>
                <textarea class="form-control" formControlName="description" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && f.description.errors }">
                    <div *ngIf="f.description.errors.required">Descripcion es requerido</div>
                </div>
            </div>
  
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary float-left mr-auto" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="deleteEvent()" class="btn btn-danger mr-auto" data-dismiss="modal">Eliminar Evento</button>
                <button type="submit" class="btn btn-primary float-right">
                  <i *ngIf="!loading" class="fas fa-edit"></i>
                  <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                      <circle class="loader__value" cx="12" cy="12" r="10" />
                    </svg>
                  Actualizar
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="showgoogleModal" tabindex="-1" role="dialog" aria-labelledby="showgoogleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="showgoogleModal">Verificador de Google</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="newTokenForm" (ngSubmit)="authenticateGoogleApi()" method="post">
           <p>
            <span>Necesitas dar permisos para poder usar el calendario de google</span>
           </p>
           <p>
            <span>Puedes iniciar sesion haciendo click </span> <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&response_type=code&client_id=637451349426-2894r1ucs8traifp0o19r6pfnskke27d.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fdevelopers.google.com%2Foauthplayground" target="_blank" rel="noopener noreferrer">Iniciar sesion aquí</a>
           </p>
            <br>
            <p class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Pegue el token aqui </p>
            <div class="form-group input-group col-12">
              <input type="text" formControlName="token" class="form-control" placeholder="De ser algo como asi Jw65AjG05xiOgmk..." [ngClass]="{ 'is-invalid': submitted && t.token.errors }" />
              <div *ngIf="submitted && t.token.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && t.token.errors }">
                  <div *ngIf="t.token.errors.required">Token es requerido</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">
              <i *ngIf="!loading" class="fas fa-plus-circle"></i>
              <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                  <circle class="loader__value" cx="12" cy="12" r="10" />
                </svg>
              Enviar token
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>