<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Plaquitas Para Mascotas CR</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>

<style>
*, html {
    margin:0;
    padding:0;  
}
</style>

<body style=" width: 100%; background-color: #FFFFFF;">
	<div id="principal" style="max-width: 600px; margin: 0 auto; padding: 0px; background-color: #EDEDED; padding: 30px;">
		<div style=" max-width: 600px; margin: 0 auto; text-align: center; background-color: #EDEDED;">
			<img width="50%" src="https://res.cloudinary.com/ensamble/image/upload/v1613167406/6f34a0248653a5483ac7d7950fc13ce4_2_shgyuj.png" />
		</div>
		<div style="background-color: #EDEDED; margin-left:auto;margin-right:auto; text-align: center; margin-bottom: 10px;">
			<p style="width: 390px; margin: 0 auto;margin-bottom: 20px; font-family: Montserrat;font-size: 18px;color: #575757; max-width: fit-content;">
				{{text}}
			</p>

			<a href="{{link}}" style="background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius: 10px;
			font-size: 16px;" target="_blank">{{textLink}}</a>
		</div>
		
		<div style=" max-width: 600px; margin: 0 auto; background-color: #FFFFFF;margin-left: auto; margin-right: auto; text-align: center;    margin-top: 10px;">
			<div style="max-width: 390px;margin-top: 20px; margin-left: auto; margin-right: auto; margin-bottom: 20px; padding: 10px;">
				<p style="margin-left: auto; margin-right: auto; text-align: center;margin-bottom: 10px;font-weight: 900;font-family: Montserrat;font-size: 18px;color: #575757; margin-top: 10px;">
					<span style="font-family: Montserrat;font-size: 18px;color: #575757;color: #5E5E5E;"><strong>Soporte al Cliente: <a
							style="background-color: transparent;color: #F14B72;text-decoration: none;font-weight: 900;"
							href="callto:7016-0434">(+506) 7016-0434</a></strong></span></p></a>
				<p
					style="margin-left: auto; margin-right: auto; text-align: center;margin-top: 0;font-family: Montserrat;font-size: 18px;color: #575757;">
					<span style="color: #5E5E5E;"><strong>Facebook: <a href="https://www.facebook.com/profile.php?id=100064041162056" target="_blank" rel="noopener noreferrer">@Plaquitas para mascotas CR</a> </strong></span></p></a>

			</div>
		</div>
	</div>	
</body>

</html>