<div *ngIf="permissionData" class="panelProfileContent">
    <div class="row no-gutters">
        <div class="col-sm">
            <h4>  <i class="fa fa-paw" aria-hidden="true"></i> Panel de control</h4>
        </div>
        <div class="col-sm">
            <button [disabled]="!updatePermission" (click)="updatePermissionList()" type="submit" class="btn btn-yellow btn-sm col-12 float-right mb-2">
                <i *ngIf="!loadingQr" class="fa fa-paw" aria-hidden="true"></i>
                <svg *ngIf="loadingQr" class="loader" viewBox="0 0 24 24">
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                    <circle class="loader__value" cx="12" cy="12" r="10" />
                </svg>
                Actualizar permisos
            </button>
        </div>
    </div>    

    <div *ngIf="profile" class="card-deck">
        <div *ngIf="profile.ownerPetName" class="card">
            <div class="card-body">
                <span class="card-title"><i class="fa fa-user"></i> Propietari@</span>
                <p class="card-text">{{profile.ownerPetName}}</p>
            </div>
        </div>
        <div *ngIf="profile.phone" class="card">
            <div class="card-body">
                <span class="card-title"><i class="fa fa-phone fa-flip-horizontal"></i> Teléfono</span>
                <p class="card-text">{{profile.phone}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.phone" (change)="changed(permissionData)" [(ngModel)]="permissionData.showPhoneInfo"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.email" class="card">
            <div class="card-body">
                <span class="card-title"><i class="fa fa-envelope"></i> Email</span>
                <p class="card-text" >{{profile.email}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.email" (change)="changed(permissionData)" [(ngModel)]="permissionData.showEmailInfo"></app-switch>
            </div>
        </div>
    </div> 
    <div *ngIf="profile" class="card-deck">
        <div *ngIf="profile.age" class="card">
            <div class="card-body">
                <span class="card-title"> Edad</span>
                <p class="card-text">{{profile.age}} años</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.age" (change)="changed(permissionData)" [(ngModel)]="permissionData.showAgeInfo"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.address" class="card">
            <div class="card-body">
                <span class="card-title">Direción de habitación</span>
                <p class="card-text" >{{profile.address}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.address" (change)="changed(permissionData)" [(ngModel)]="permissionData.showAddressInfo"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.favoriteActivities" class="card">
            <div class="card-body">
                <span class="card-title"> Actividades Favoritas</span>
                <p class="card-text">{{profile.favoriteActivities}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.favoriteActivities" (change)="changed(permissionData)" [(ngModel)]="permissionData.showFavoriteActivities"></app-switch>
            </div>
        </div>
    </div>
    <div *ngIf="profile" class="card-deck">
        <div *ngIf="profile.healthAndRequirements" class="card">
            <div class="card-body">
                <span class="card-title">Salud y Cuidados</span>
                <p class="card-text" >{{profile.healthAndRequirements}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.healthAndRequirements" (change)="changed(permissionData)" [(ngModel)]="permissionData.showHealthAndRequirements"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.veterinarianContact" class="card">
            <div class="card-body">
                <span class="card-title"> Nombre Veterinario</span>
                <p class="card-text">{{profile.veterinarianContact}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.veterinarianContact" (change)="changed(permissionData)" [(ngModel)]="permissionData.showVeterinarianContact"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.phoneVeterinarian" class="card">
            <div class="card-body">
                <span class="card-title"> Teléfono Veterinario</span>
                <p class="card-text">{{profile.phoneVeterinarian}}</p>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.phoneVeterinarian" (change)="changed(permissionData)" [(ngModel)]="permissionData.showPhoneVeterinarian"></app-switch>
            </div>
        </div>
    </div>
    <div *ngIf="profile" class="card-deck">
        <div *ngIf="profile.linkTwitter" class="card">
            <div class="card-body">
                <a *ngIf="profile.linkTwitter != ''" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> Twitter</a>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.linkTwitter" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkTwitter"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.linkFacebook" class="card">
            <div class="card-body">
                <a *ngIf="profile.linkFacebook != ''"  class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> facebook</a>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.linkFacebook" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkFacebook"></app-switch>
            </div>
        </div>
        <div *ngIf="profile.linkInstagram" class="card">
            <div class="card-body">
                <a *ngIf="profile.linkInstagram != ''" class="btn btn-block btn-instagram"> <i class="fab fa-instagram"></i> instagram</a>
            </div>
            <div class="card-footer">
                <app-switch size="small" name="profile.linkInstagram" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLinkInstagram"></app-switch>
            </div>
        </div>
    </div>
    <div *ngIf="profile" class="card-deck">
        <div  class="card">
            <div class="card-body">
                <a class="btn"><i class="fas fa-location-arrow"></i> Mi ubicación</a>
            </div>
            <div class="card-footer text-center">
                <app-switch size="small" name="profile.showLocationInfo" (change)="changed(permissionData)" [(ngModel)]="permissionData.showLocationInfo"></app-switch>
            </div>
        </div>
    </div>    
</div>
