<div *ngIf="profile" class="userActivities text-center m-3">
    <h2 class="boxTitle">  <i class="fa fa-paw" aria-hidden="true"></i>  Información personal</h2>
    <form  [formGroup]="newPetInfoForm" (ngSubmit)="addNewPetInfoSubmit()">
        <div class="form-group input-group">
            <span class="mr-3"> <i class="fa fa-paw" aria-hidden="true"></i>  Nombre del can  </span>
            <input type="text" formControlName="petName" class="form-control" placeholder="Nombre del can" [ngClass]="{ 'is-invalid': submitted && g.petName.errors }" />
            <div *ngIf="submitted && g.petName.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.petName.errors }">
                <div *ngIf="g.petName.errors.required">Nombre del can es requerido</div>
            </div>
        </div>

        <div class="form-group input-group">
            <span class="mr-3"><i class="fa fa-envelope"></i> Correo </span>
            <input type="text" formControlName="email" class="form-control" placeholder="Email del can" [ngClass]="{ 'is-invalid': submitted && g.email.errors }" />
            <div *ngIf="submitted && g.email.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.email.errors }">
                <div *ngIf="g.email.errors.required">Nombre del can es requerido</div>
            </div>
        </div>

        <div class="form-group input-group">
            <span class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> Nombre del dueño </span>
            <input type="text" formControlName="ownerPetName" class="form-control" placeholder="Nombre del Dueño" [ngClass]="{ 'is-invalid': submitted && g.ownerPetName.errors }" />
            <div *ngIf="submitted && g.ownerPetName.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.ownerPetName.errors }">
                <div *ngIf="g.ownerPetName.errors.required">Dueño del can es requerido</div>
            </div>
        </div>

        <div class="form-group input-group">
            <span class="mr-3"><i class="fa fa-phone fa-flip-horizontal"></i> Teléfono </span>
            <input formControlName="phone" pattern="\d*" class="form-control" placeholder="Teléfono " maxlength="8" [ngClass]="{ 'is-invalid': submitted && g.phone.errors }" />
            <div *ngIf="submitted && g.phone.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.phone.errors }">
                <div *ngIf="g.phone.errors.required">Teléfono es requerido</div>
                <div *ngIf="g.phone.errors.minlength">Teléfono debe ser al menos 8 digitos</div>
                <div *ngIf="g.phone.errors.pattern">Sólo se permiten números</div>
            </div>
        </div> 

        <div class="form-group input-group">
            <span *ngIf="Media.IsMobile" class="mr-3"><i class="fa fa-calendar"></i> Nacimiento can </span>
            <span *ngIf="!Media.IsMobile" class="mr-3"><i class="fa fa-calendar"></i> Fecha de nacimiento del can </span>
            <input type="date" rel="txtTooltip" title="Fecha de nacimiento del can" data-toggle="tooltip" data-placement="top" formControlName="birthDate" min="today" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.birthDate.errors }" />
            <div *ngIf="submitted && g.birthDate.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.birthDate.errors }">
                <div *ngIf="g.birthDate.errors.required">Fecha de cumpleaños es requerido</div>
            </div>
        </div>  

        <div class="form-group input-group">
            <span class="mr-3"><i class="fas fa-birthday-cake"></i> Edad del can </span>
            <input type="text" rel="txtTooltip" title="Edad del can" data-toggle="tooltip" data-placement="top" formControlName="age" class="form-control" placeholder="Edad del can" [ngClass]="{ 'is-invalid': submitted && g.age.errors }" />
            <div *ngIf="submitted && g.age.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.age.errors }">
                <div *ngIf="g.age.errors.required">Edad del can es requerido</div>
            </div>
        </div>

        <div class="form-group input-group">
            <span class="mr-3"><i class="fas fa-address-book"></i> Nombre o local del veterinario </span>
            <input type="text" formControlName="veterinarianContact" placeholder="Nombre o local del veterinario" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.veterinarianContact.errors }" />
            <div *ngIf="submitted && g.veterinarianContact.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.veterinarianContact.errors }">
                <div *ngIf="g.veterinarianContact.errors.required">Nombre o local del veterinario es requerido</div>
            </div>
          </div>
        <div class="form-group input-group">
            <span class="mr-3"><i class="fa fa-phone fa-flip-horizontal"></i> Teléfono Veterinario </span>
            <input formControlName="phoneVeterinarian" pattern="\d*" class="form-control" placeholder="Teléfono Veterinario" maxlength="8" [ngClass]="{ 'is-invalid': submitted && g.phoneVeterinarian.errors }" />
            <div *ngIf="submitted && g.phoneVeterinarian.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.phoneVeterinarian.errors }">
                <div *ngIf="g.phoneVeterinarian.errors.required">Teléfono es requerido</div>
                <div *ngIf="g.phoneVeterinarian.errors.minlength">Teléfono debe ser al menos 8 digitos</div>
                <div *ngIf="g.phoneVeterinarian.errors.pattern">Solo se permiten números</div>
            </div>
        </div> 

        <div class="form-row">
            <div class="form-group input-group col-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fab fa-twitter"></i> </span>
                </div>
                <input type="text" formControlName="linkTwitter" placeholder="Link de Twitter" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkTwitter.errors }" />
                <div *ngIf="submitted && g.linkTwitter.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkTwitter.errors }">
                    <div *ngIf="g.linkTwitter.errors.required">Link de Twitter es requerido</div>
                </div>
              </div>
            <div class="form-group input-group col-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fab fa-facebook-f"></i> </span>
                </div>
                <input type="text" formControlName="linkFacebook" placeholder="Link de Facebook" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkFacebook.errors }" />
                <div *ngIf="submitted && g.linkFacebook.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkFacebook.errors }">
                    <div *ngIf="g.linkFacebook.errors.required">Link de Facebook es requerido</div>
                </div>
            </div> 
            <div class="form-group input-group col-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fab fa-instagram"></i></span>
                </div>
                <input type="text" formControlName="linkInstagram" placeholder="Link de instagram" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.linkInstagram.errors }" />
                <div *ngIf="submitted && g.linkInstagram.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.linkInstagram.errors }">
                    <div *ngIf="g.linkInstagram.errors.required">Link de instagram es requerido</div>
                </div>
            </div>  
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Dirección exacta</label>
            <textarea class="form-control" formControlName="address" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.address.errors }"></textarea>
            <div *ngIf="submitted && g.address.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.address.errors }">
                <div *ngIf="g.address.errors.required">Direccion exacta es requerido</div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Necesidades y requisitos de salud y dieta</label>
            <textarea class="form-control" formControlName="healthAndRequirements" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.healthAndRequirements.errors }"></textarea>
            <div *ngIf="submitted && g.healthAndRequirements.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.healthAndRequirements.errors }">
                <div *ngIf="g.healthAndRequirements.errors.required">Contacto veterinario es requerido</div>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Actividades / juguetes / golosinas favoritas</label>
            <textarea class="form-control" formControlName="favoriteActivities" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.favoriteActivities.errors }"></textarea>
            <div *ngIf="submitted && g.favoriteActivities.errors" class="invalid-feedback" [ngClass]="{ 'remove-margin text-center': submitted && g.favoriteActivities.errors }">
                <div *ngIf="g.favoriteActivities.errors.required">Contacto veterinario es requerido</div>
            </div>
        </div>

        <div class="modal-footer text-center">
        <button type="submit" class="btn btn-primary float-right">
            <i *ngIf="!loading" class="fas fa-edit"></i>
            <svg *ngIf="loading" class="loader" viewBox="0 0 24 24">
                <circle class="loader__value" cx="12" cy="12" r="10" />
                <circle class="loader__value" cx="12" cy="12" r="10" />
                <circle class="loader__value" cx="12" cy="12" r="10" />
                <circle class="loader__value" cx="12" cy="12" r="10" />
                <circle class="loader__value" cx="12" cy="12" r="10" />
                <circle class="loader__value" cx="12" cy="12" r="10" />
            </svg>
            Actualizar
        </button>
        </div>
    </form>
</div>